body {
	margin: 0;
	padding: 0;
	min-width: 960px;

	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	color: 000000;
	text-transform: uppercase;

	background-image: url("../img/background-index.jpg");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #090909;
}

.button {
	display: inline-block;
	box-sizing: border-box;
	width: 140px;
	padding: 10px 0;

	font: inherit;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	
	border: none;
	background-color: #000000;
}

.section-title {
	margin: 0;	
	padding-top: 44px;
	font-size: 30px;
	line-height: 42px;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.container {
	margin: 0 auto;
	width: 940px;
	padding: 0 10px;
}

.index-sections-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 36px;

	background-image: url("../img/white-bg.jpg");
	background-repeat: repeat;
	background-color: #f8f5f2;
}

.index-sections-wrapper:last-child {
		margin-bottom: 65px;
}

/* Index-header */

.main-nav {
	display: flex;
	flex-direction: column;
	min-height: 287px;
	margin-bottom: 62px;
}

.main-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 72px;
}

.site-nav {
	padding: 0;
	margin: 0;
	display: flex;
	width: 540px;
	justify-content: space-around;

	list-style: none;
}

.user-nav {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: flex-end;
	width: 220px;

	list-style: none;
}

.site-nav a,
.user-nav a {
	padding: 26px 22px;

	font-style: 16px;
	line-height: 20px;
	color: #ffffff;
	text-decoration: none;
}

.site-nav a:hover,
.user-nav a:hover,
.site-nav a:active,
.user-nav a:active {
	background-color: #242424;
}

.site-nav a.current {
	padding: 26px 0;
	margin: 0 26px;
	padding-bottom: 22px;

	background-color: #000000;
	border-bottom: 4px solid #ffffff;
}

.main-logo {
	order: 2;
	align-self: center;
	margin-top: 60px;
}

.wrapper-header {
	background-color: #000000;
}

/* Features section */

.features {
	min-height: 250px;
}

.feature-list {
	margin: 0;
	padding: 0;
	padding-bottom: 80px;
	display: flex;
	justify-content: space-between;

	list-style: none;
}

.feature-item {
	width: 300px;
}

.feature-title {
	position: relative;

	margin: 0;
	padding-bottom: 61px;

	font-size: 30px;
	line-height: 42px;
	text-align: center;
	color: #f7f4f1;
}

.feature-title::after {
	position: absolute;
	top: 50%;
	left: 46.5%;
	
	width: 20px;
	height: 20px;
	display: block;

	content: "";

	background-color: #f7f4f1;

	transform: rotate(45deg);
}

.feature-description {
	margin: 0;

	color: #f7f4f1;
	text-align: center;
}

/* News section */

.news {
	position: relative;
	display: flex;
	flex-direction: column;
	padding-right: 42px;
	padding-left: 80px;
	padding-bottom: 50px;
	min-height: 420px;
	width: 471px;
	box-sizing: border-box;
}

.news::after {
	position: absolute;
	right: 0;
	top: 75px;
	
	display: block;
	width: 8px;
	height: 278px;

	content: "";

	background-image: url("../img/decor-line.png");
	background-repeat: no-repeat;
}

.news-list {
	padding: 0;
	margin: 0;

	list-style: none;
}

.news-item:first-child p {
	margin-top: 17px;

}

.news-item p {
	margin: 0;
	margin-top: 20px;
}

.news-item time {
	text-transform: none;
}

.news-item time {
	display: block;
	margin-bottom: 10px;
}

.news-button {
	margin-top: auto;
} 

/* Gallery section */

.gallery {
	display: flex;
	flex-direction: column;
	min-height: 420px;
	padding-bottom: 50px;
	width: 380px;
	box-sizing: border-box;

}

.gallery .section-title {
	margin-bottom: 32px;
}

.gallery figure {
	box-sizing: border-box;
	width: 300px;
	height: 178px;
	margin: 0;

	border: 7px solid #ffffff;
}

.gallery figure a {
	display: block;
	width: 286px;
	height: 164px;
}

.gallery img {
	width: 286px;
	height: 164px;
}

.news-buttons {
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-top: auto;
}

/* Contact-info section */

.contact-info {
	position: relative;
	box-sizing: border-box;
	width: 470px;
	padding-right: 69px;
	padding-left: 80px;
}

.contact-info::after {
	position: absolute;
	right: 0;
	top: 64px;
	
	display: block;
	width: 8px;
	height: 278px;

	content: "";

	background-image: url("../img/decor-line.png");
	background-repeat: no-repeat;
}